.head-text{
    position: relative;
    bottom: 380px;

    color: white;
    font-size: 25px;
}
.head-text h1{
    font-size: 40px;
    text-align: center;
    font-weight: 900;
}
main{
    position: relative;
    bottom: 100px;
}
.flex{
    display: flex;
    border: 2px solid gray;
    padding: 5px;
    margin: 2px;
}
.text-margine{
    position: relative;
   left: 5px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.view-btn{
    text-align: center;
    position: relative;
    bottom: 50px;
}
